.TodoForm {
  background-color: antiquewhite;
  padding: 10px;
  margin: 20px;
  margin-top: 22px;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  background-color: darkgray !important;
}

strong {
  color: black;
  font-size: 22px;
  padding: 2px;
  margin: 2px;
}

.Abtn {
  color: white;
  background-color: green;
  padding: 7.5px;
  margin: 4px;
}

.Abtn:hover {
  background-color: bisque;
  color: black;
}

@media screen and (max-width: 501px) {
  h1 {
    margin-top: 30px;
    text-align: center;
    color: orange;
  }
}