.ListItem {
  background-color: #ece9e9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  /* padding: 4px; */
}

li a {
  text-decoration: none;
}

.btn {
  color: red;
  background-color: beige;
}

.btn:hover {
  background-color: yellow;
  color: black;
}

button {
  border-radius: 5px;
  padding: 6px;
}
