.ListItem {
  background-color: #ece9e9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  text-indent: 10px;
}

ul {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

li {
  margin: 20px;
  border-radius: 8px;
  font-size: medium;
}

li a {
  text-decoration: none;
}

.btn {
  color: black;
  background-color: beige;
  box-sizing: initial;
  margin-right: 1px;
}

.btn:hover {
  background-color: yellow;
  color: red;
}

button {
  border-radius: 5px;
  padding: 6px;
}