* {
  padding: 0;
  margin: 0;
}

input {
  width: 250px;
  font-size: medium;
  padding: 6px;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  body {
    background-color: aquamarine;
  }
}

@media (min-width: 501px) and (max-width: 1200px) {
  body {
    background-color: #2e3d49;
  }
}

@media screen and (min-width: 1201px) {
  body {
    background-color: #02b3e4;
  }
}
